:root{
    --dark: #071E22;
    --yellow: #F3DE8A;
}
*{
    font-family: 'Roboto Slab', serif;
}

body{
    background-color: var(--yellow);
}

header{
    height: 100px;
    text-align: center;

}

td, label{
    font-size: 1.25em;
}
h1{
    font-weight: 700;
    padding: 20px;
    color: var(--dark);
}

.completed{
    text-decoration: line-through;
}
